<div class="container-fluid" ng-controller="dashboardController">
  <div class="row" ng-init="initValues()">
    <div class="col-mid-4 col-lg-2 col-xs-12">
      <input type="text" ng-model="filter_name" placeholder="Search">
    </div>

    <div class="col-mid-8 col-lg-10 col-xs-12" ng-init="getOrders(); initShowOptions()">
      <ul>
          <li ng-repeat='product in products | filter:{name: filter_name}' ng-show='$index < showLimitProduct'>
          <div class="productThumbnail">
            <img ng-src='{{product.imgUrl}}'> <br>
            <label ng-bind='product.name'></label>
            <br>
            <label ng-bind='product.quantity'></label>&nbspleft
          </div>
        </li>
      </ul>
      <button ng-click="showMoreProduct()" ng-model="showOptionProduct" ng-bind="showOptionProduct"></button>

      <ul>
        <li class="order" ng-repeat='order in orders' ng-show="$index < showLimitOrders">
          <label ng-bind='order.name'></label> purchased <label ng-bind='order.quantity'></label> <label ng-bind='order.product'></label> (<label ng-bind='boughtHours(order.date)'></label> ago)
        </li>
      </ul>
      <button ng-click="showMoreOrders()" ng-model="showOptionOrders" ng-bind="showOptionOrders"></button>

      <ul>
        <li class="customer" ng-repeat='customer in customers' ng-show="$index < showLimitCustomers">
          <label ng-bind='customer.name'></label> Joined the store (<label ng-bind='boughtHours(customer.date)'></label> ago)
        </li>
      </ul>
      <button ng-click="showMoreCustomers()" ng-model="showOptionCustomers" ng-bind="showOptionCustomers"></button>
    </div>
  </div>
</div>