<div class="container-fluid" ng-controller="productsController">
  <div class="row">
    <div class="col-md-8 col-xs-12" id="leftPanel" ng-init="initValues()">
      <div class="form-group">
        <label>Search</label>
        <input class="form-control" type="text" ng-model="filter_name" placeholder="Filter">
      </div>
      <ul ng-init="getProducts()">
        <li ng-repeat='product in products' ng-show="$index < showLimit">
          <div class="productThumbnail">
            <img class="img-rounded" ng-src='{{product.imgUrl}}'>
            <br>
            <label class="first" ng-bind='product.name'></label>

            <div class="productquantity">
              <label ng-bind='product.quantity'></label>&nbsp<label>left</label>
            </div>
          </div>
        </li>
      </ul>
      <button ng-click="showMore()" ng-model="showOption" ng-init="showOption = 'showMore'" ng-bind="showOption"></button>
    </div>

    <div class="col-md-4 col-xs-12" id="rightPanel">
      <hr>
      <h2>Add a new product</h2>
      <br>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" ng-model="name" placeholder="Name"> <br>
        <label>Image Url</label>
        <input class="form-control" type="text" ng-model="imgUrl" placeholder="http://"> <br>

        <label>Description</label>
        <textarea class="form-control" ng-model="description" placeholder="write description here"> </textarea> <br>
        <label>Initial Quantity</label>
        <select class="form-control" ng-model="quantity" ng-options="quantity for quantity in quantityRange"> </select>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit" ng-click="addProduct()">
      </div>
    </div>
  </div>
</div>